# 只忽略这些目录，其他代码都需要同步
multikb-knowledge-backend/models/
docs/
官网/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/


# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Builds
build/
dist/
*.log

# Node
node_modules/

# Cache
.cache/
*.sqlite3
